<!-- Boilerplate for Travel pages  -->

<%- include('../partials/header') %> 

    <body class='d-flex flex-column vh-100' style="background-color: #eaf4f4;">
        
    <%- include('../partials/navbar') %> 
        
    <main class='container p-0'>
            
        <%- include('../partials/flash') %> 
        <%- body %> 

    </main>
    </body>

<%- include('../partials/footer') %> 