<% layout('layout/boilerplate') %> 

<div class="container mb-5">

  <div class="row">
    
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <div class="card-body">

        <form action="/travels/<%= travel._id %>?_method=PUT " method="post" class="validated-form" novalidate enctype="multipart/form-data">
          
          <h5 class="text-center mt-3">Edit Travel</h5>

          <div class="mb-3">
            <label class="form-label" for="title">Title:</label>
            <input  class="form-control" type="text" name="travel[title]" value="<%= travel.title %>" required>
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Description:</label>
            <textarea class="form-control" name="travel[description]" id="" cols="30" rows="2" required><%= travel.description %></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label" for="location">Location:</label>
            <input class="form-control" type="text" name="travel[location]" value="<%= travel.location %>" required>
          </div>
          <label class="form-label" for="price">Price:</label>
          <div class="mb-3 input-group">
            <span class="input-group-text">$</span>
            <input class="form-control" type="text" name="travel[price]" value=<%= travel.price %> required>
          </div>
          
          <div class="mb-3">
            <label class="form-label" for="img">Upload Image:</label>
            <!-- <input class="form-control" type="file" name="travel[img]"> -->
            <input class="form-control" type="file" name="img" value="<%= travel.img %>" multiple>
          </div>

          <div class="mb-1">
            <label class="form-label">Select images to delete:</label>
          </div>

          <% if (travel.img.length) { %> 
            <div style="white-space:nowrap; overflow: auto;">
            <% travel.img.forEach((image, i) => { %>
              <div class="mb-3" style="display:inline-block; position:relative; width:100px; height: 100px; margin-right: 10px;">
                <label class="custom-control-label" for="img-<%= i %>">
                <img src="<%= image.url %> " class="img-thumbnail" style="height:100px; width:100px;">
                <!-- </label> -->
                <input type="checkbox" class="form-check-input" id="img-<%= i %>" name='deleteImages[]' value="<%= image.filename %>" style="position:absolute; bottom: 0px; right: 0px;">
              </div>
            <% }) %> 
            </div>
          <% } %> 
                
          <div style="clear:both" class="d-flex justify-content-between my-2">
              <button type="submit" class="btn btn-success">Update Travel</button>
              <button class="btn btn-danger" id="deleteTravel">Delete Travel</button>
          </div>
          <div>
            <a href="/travels" class="btn btn-primary">Back to All Travels</a>
          </div>
        </div>
        
      </form>

      <!-- Note: Unable to place form element within form element -->
      <form id="deleteForm" action="/travels/<%= travel._id %>?_method=DELETE" method="post"></form>    
    </div>
    
  </div>
</div>
</div>

</div>

  <!-- js for delete travel button -->
  <script src="/js/app.js"></script>

        