<% layout('layout/boilerplate') %> 

  <div class="row">

    <h1 class="text-center my-3">Edit Travel</h1>

      <div class="col-6 offset-3">

        <form action="/travels/<%= travel._id %>?_method=PUT " method="post" novalidate class="validated-form">
          <div class="mb-3">
            <label class="form-label" for="title">Title:</label>
            <input  class="form-control" type="text" name="travel[title]" value="<%= travel.title %>" required>
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Description:</label>
            <input class="form-control" name="travel[description]" value="<%= travel.description %>" required>
          </div>
          <label class="form-label" for="price">Price:</label>
          <div class="mb-3 input-group">
            <span class="input-group-text">$</span>
            <input class="form-control" type="text" name="travel[price]" value=<%= travel.price %> required>
          </div>
          <div class="mb-3">
            <label class="form-label" for="location">Location:</label>
            <input class="form-control" type="text" name="travel[location]" value="<%= travel.location %>" required>
          </div>
          
          <div class="mb-3">
            <label class="form-label" for="img">Upload Image:</label>
            <!-- <input class="form-control" type="file" name="travel[img]"> -->
            <input class="form-control" type="text" name="travel[img]" value="<%= travel.img %>" required>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-success">Update Travel</button>
          </div>
                      
        </form>
        

        <div class="d-flex justify-content-between">
          <form action="/travels/<%= travel._id %>?_method=DELETE" method="post">
            <button class="btn btn-danger">Delete</button>
          </form>
          
          <a href="/travels" class="btn btn-primary">Back to Travel Journal</a>
        </div>

      </div>

  </div>

        